
<div class= "container text-center ">

<h1>welcome to<i class="fas fa-book"></i><b> Bookers!!</b></h1>
<div class="row text-arigin-right"></div>
<div class="col-lg-7 text-left">
<p>In <i class="fas fa-book"></i><b>bookers</b>,</p>
</div>
</div>
<div class="row">
<p>you can share and exchange your opinions , inpressions , and emotions</p>
</div>
<p>about various books!</p>



<div class= " text-center">
<p><%= link_to "Log in", new_user_session_path, class: "btn btn-info  btn-block mb-3 " %></p>
</div>
<div class= "text-center">
<p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block mb-3" %></p>
</div>

</div>

